pkgbase = yukigram-rua
	pkgdesc = Yet another unofficial tdesktop client, but forked from yukigram
	pkgver = 6.7.3.r24710.d6f22b9c73
	pkgrel = 1
	url = https://github.com/Revincx/Yukigram
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = boost
	makedepends = boost-libs
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = microsoft-gsl
	makedepends = ccache
	makedepends = libtg_owt
	makedepends = gobject-introspection
	makedepends = fmt
	makedepends = glib2-devel
	makedepends = gperf
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libheif
	depends = libjxl
	depends = libstdc++
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxtst
	depends = lz4
	depends = minizip
	depends = zlib
	depends = glibc
	depends = libgcc
	depends = openal
	depends = openh264
	depends = openssl
	depends = pipewire
	depends = protobuf
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xxhash
	optdepends = geoclue: geoinformation support
	optdepends = geocode-glib-2: geocoding support
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = yukigram-desktop
	conflicts = yukigram-desktop
	source = yukigram-rua::git+https://github.com/Revincx/Yukigram.git#branch=dev
	source = tdesktop-fix-minizip-includes.patch
	source = telegram-tdlib::git+https://github.com/tdlib/td.git
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = yukigram-rua
